.recharts-cartesian-grid-horizontal {
  display: none !important;
}

.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis {
  display: none;
}

.recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis {
  display: none;
}

.recharts-cartesian-grid-horizontal {
  display: none;
}